[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}} %f
Icon={{icon}}
Terminal=false
Categories=Office;TextEditor;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=iureditor
